@font-face {
    font-family: ImpressBT;
    src: url('../font/Impress.ttf');
}

body {
    background-image: url('../img/TTC.png');
    background-repeat: no-repeat;
    background-size: cover;
    font-family: ImpressBT, sans-serif;
}