<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="keywords" content="Toontown Rewritten, Population">
        <meta name="description" content="Toontown Rewritten Population Checker">
        <meta name="author" content="Henry Nguyen">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="refresh" content="30">
        <title>TTR Population Checker</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
        <script src="{{ url_for('static', filename='js/pop.js') }}" async></script>
    </head>
    <body>
        <header id="navheader">
            <div id="header-container">
                <div id="head-title">Toontown Rewritten Population Checker</div>
                <div id="navigation" class="nav-container">
                    <nav>
                        <ul class="navbar">
                            <a href="javascript:void(0);" id="icon" onclick="extendNav()">&#8801</a>
                            <li><a href="#contact" class="navItem">Contact</a></li>
                            <li><a href="#about" class="navItem">About</a></li>
                            <li><a id="activepage" href="/" class="navItem">Population Check</a></li>
                        </ul>
                    <nav>
                </div>
            </div>
        </header>
        <main>
            <div id="total-container">
                <div id="total-data-panel">
                    <h2 id="total-info">Toontown Rewritten's current total population is:</h2>
                    <h3 id="total-pop">{{ total_pop['totalPopulation'] }}</h3>
                </div>
            </div>
            <div id="district-container">
                <div id="district-data-panel">
                    <h1>Population by Districts</h1>
                    <table id="districtTable">
                        <thead>
                            <tr>
                                <th>District</th>
                                <th>Population</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for district in popByDistrict.keys() %}
                            <tr>
                                <td>{{ district }}</td>
                                <td>{{ popByDistrict[district] }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </main>
    </body>
</html>