<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="keywords" content="Toontown Rewritten, Population">
        <meta name="description" content="Toontown Rewritten Population Checker">
        <meta name="author" content="Henry Nguyen">
        <meta http-equiv="refresh" content="30">
        <title>TTR Population Checker</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
    </head>
    <body>
        <h1>Toontown Rewritten Population Checker</h1>
        <script src="{{ url_for('static', filename='js/pop.js') }}"></script>
    </body>
</html>